@import "./global.scss";

.personMoreDropdownButton {
  position: absolute;
  background-color: $white-color;
  top: 1rem;
  right: 1rem;
  color: #333;
  font-size: 1rem;
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  white-space: nowrap;
}

.personMoreDropdownContainer {
  display: inline-block;
  margin: 0;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 2rem;
  z-index: 106;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
  background-color: rgb(251, 250, 252);
  & > label {
    display: inline-block;
    font-size: 0.75rem;
    color: rgb(180, 180, 180);
    font-weight: 600;
    padding: 0.5rem 1rem;
    width: 100%;
    border-bottom: 1px solid rgb(255, 255, 255);
  }
  & > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    & > li {
      padding: 0.5rem 3rem 0.5rem 1.5rem;
      text-decoration: none;
      border-bottom: 1px solid $white-color;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: #ffffff;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.dropdownOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  z-index: 105;
}

.dropdownOverlayActive {
  display: block;
}
