$primary-color: #00bcd4;
$secondary-color: #f19100;
$tertiary-color: #000000;
$white-color: #ffffff;

$primary-text-color: #212121;
$light-text-color: #757575;
$dark-text-color: #000000;
$disabled-text-color: #bdbdbd;
$placeholder-text-color: #bdbdbd;
$input-highlight-color: #e0e0e0;

$input-highlight-color: rgb(251, 245, 255);
