.inputContainer {
  width: 100%;
}

.nameInput {
  margin-left: 6rem;
  width: calc(100% - 8rem);
}

.labelContainer {
  &[data-name="Name"] {
    margin-left: 0.3rem;
    & > svg {
      display: none !important;
    }
  }
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  position: relative;
  width: 100%;
  & > label {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
    margin-top: 0.5rem;
    min-width: 100%;

    & > input {
      border: none;
      min-width: 100%;
      width: min-content;
      cursor: pointer;
      &:focus {
        outline: none;
        background-color: rgb(251, 245, 255);
        cursor: text;
      }
    }
  }
  & > svg {
    width: 1rem;
    height: 1rem;
    overflow: visible;
    color: rgb(126, 126, 126);
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 1rem;

    &:hover {
      color: rgb(0, 0, 0);
    }
  }
}

.textInput {
  &[data-name="Name"] {
    background-color: transparent !important;
    border: none !important;
  }
  width: 100%;
  height: 100%;
  border: 1px solid rgb(230, 246, 255);
  outline: none;
  resize: none;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: #fff;
  &:focus {
    outline: none;
    background-color: rgb(251, 245, 255);
  }
}

.searchBarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  outline: none;
  resize: none;
  font-size: 1rem;
  padding: 1rem;
}

.searchBar {
  outline: none;
  resize: none;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: #fff;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 16px 2px rgb(0 210 255 / 11%);
  border: none;
  &:focus {
    outline: none;
    background-color: rgb(254, 251, 255);
  }
}

.label {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
  margin-top: 0.5rem;
  min-width: 100%;
}

.addPersonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  outline: none;
  resize: none;
  font-size: 1rem;
  padding: 1rem;
}

.addPersonButton {
  outline: none;
  resize: none;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: #fff;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
  border: none;
  &:focus {
    outline: none;
    background-color: rgb(254, 251, 255);
  }
}

.importDataInput {
  position: absolute;
  display: none;
}
