.labelContainer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  & > label {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
    margin-top: 0.5rem;
    min-width: 100%;

    & > input {
      border: none;
      min-width: 100%;
      width: min-content;
    }
  }
}

.textInput {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(230, 246, 255);
  outline: none;
  resize: none;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: #fff;
}
